{% extends 'base.html' %}

{% block page_tile %} Password reset page {% endblock %}

{% block page_heading %} Reset password {% endblock %}

{% block content %} 
        
        <form method="POST">
             <p>Please enter your email address</p>
            {% csrf_token %}
           {{ form.email.errors }}
           <p>
               <label for="id_email"></label>
               {{ form.email }}
               
            <button type="submit">reset password</button>
               
           </p>
        </form>
        
{% endblock %}
